/* Sets custom background colors for gadget based on 
selected theme in Lively Wallpaper (three doots ---> customize) 
*/ 

:root {
    --transparent: rgba(248,249,250, 1);
    --standard: #ffff;
    --dark: rgb(33,37,41);  
    --opacity: 0.7;
    --background-image: "url(..\textures\cherry.jpg)";
}


.gadget {
    background-color: var(--standard);
    border-radius: 15px;
    z-index: 1;
    position: relative;  /* Added this to ensure .settings position is relative to this container */
    overflow: hidden;  
    opacity: var(--opacity);
}

.background-image {
    background-image: var(--background-image);
    /* background-image: "templates/cherry.jpg"; */

    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

